html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}

.gradiantBack(@to,@from){
	background-image: linear-gradient(top, @from 0%, @to 100%);
	background-image: -o-linear-gradient(top, @from 0%, @to 100%);
	background-image: -moz-linear-gradient(top, @to 0%, @from 100%);
	background-image: -webkit-linear-gradient(top, @from 0%, @to 100%);
	background-image: -ms-linear-gradient(top, @from 0%, @to 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(.50, @from),color-stop(1, @to));
}
.getFontSize(@size){font-size: @size;}
.btnImage(@image,@width,@height){background:@image no-repeat left center; width:@width; height:@height; float:left}
*{font-family: "Myriad Web Pro", "Myriad Pro", Myriad, Arial, Helvetica, Tahoma, sans-serif;}
.ui-bar-a{.gradiantBack(#005167,#0081ba); .landingTitle{.getFontSize(1.2em); font-weight:bold; padding:.4em; text-align:center}border:none;}
.ui-bar-login{.gradiantBack(#1891c9,#13709c);}
.ui-corner-all,.ui-btn-corner-all{ border-radius: 0.2em 0.2em 0.2em 0.2em;}
.ui-btn-up-c{ .gradiantBack(#c8dce8,#e5f4fe);}
.ui-shadow {box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);}
.ui-body-c, .ui-overlay-c {color: #333333;text-shadow: 0 0 0 #FFFFFF;}
.ui-btn-up-c{border:1px solid #93bce4;}
.ui-header .ui-title, .ui-footer .ui-title{margin:0;}
input.ui-input-text,{ width:92%; padding:0.4em 4%;}

.iPad-container{width:100%; float:left; height:auto; background:#fff; min-height: 460px;} 
.iPad-a{width:40%; float:left; height:auto; .gradiantBack(#c2ddf2,#ecf7fe);  min-height: 460px;}
.iPad-b{width:60%; float:right; height:auto;}


.mobile-container{.gradiantBack(#c2ddf2,#ecf7fe);}
.scrollContent{float:left; width:100%; height:auto;}
